<h1>
  {{
    (heroe.id)
      ? 'Editar'
      : 'Nuevo'
  }}
  Heroe <small>{{heroe.superhero}}</small>
</h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
  <div fxFlex="50" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>Super Heroe</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.superhero">
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Alter ego</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.alter_ego">
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Primera aparicion</mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.first_appearance">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.characters">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Editorial</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option *ngFor="let editorial of editoriales" [value]="editorial.id"  >
          {{editorial.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Foto URL</mat-label>
      <input matInput type="url" required [(ngModel)]="heroe.alt_img">
    </mat-form-field>

    <br>


      <button mat-raised-button color="primary" (click)="guardar()">
        <mat-icon>edit</mat-icon>
        {{
          (heroe.id)
            ? 'Actualizar'
            : 'Crear'
        }}
      </button>

      <button *ngIf="heroe.id" mat-raised-button color="warn" (click)="borrarHeroe()">
        <mat-icon>delete</mat-icon>
        Borrar
      </button>


  </div>
  <div fxFlex="50">
      <img [src]="heroe | imagen" alt="">
  </div>

</div>
